@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Propiedades no exceden su caja */
}

body {  /* Ajusto pagina a forma establecida */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header header header"
    "...... main   main   main   ......"
    "footer footer footer footer footer"
    ;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background: #dad9e0;
}

footer {
    grid-area: footer;
    background-color: #687576;
}

.active { /* Escondo Home p/ desktop */
    display: none;
}
    
.menunav{
    display: flex;
    flex-direction: row;
}
.imgHome {
    height: 55px;
}

.margen0 {
    margin-right: 20px !important;
}

.distribucion {
    justify-content: space-between;
}

.navFondo { /* Cambio color por defecto al nav y ajusto medidas */
    background-color: #B7CCD9;
    padding: 0;
}

.navFondo a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header__bar {  /* Posicionar barra de iconos */
    display: flex;
    height: 55px;
    background: #B7CCD9;
    justify-content: space-between;
}
 
.header__bar__der i  {   /* Estilo a iconos del lado derecho */
    font-size: 30px;
    padding: 10px;
}

.imgsize {   /* Adapto tamaño de las imagenes a su contenedor */
    max-height: 100%;
    max-width: 100%;
}

.parrafo {  /* Estilo a cada texto de cada imagen */
    text-align: justify;
    padding: 8px;
    margin-bottom: 0;
}

.ticker {    /* Animacion del scrolling infinito */
    display: flex;
    align-items: center;
    height: 40px;
    width: 100vw;
    overflow: hidden;
    background-color: #BED6DD;
}
  
.scroll-parent {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
  
.scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.scroll-element--cont {
    width: 15%;
    padding: 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.scroll-element--cont > p {
    font-weight: 700;
    margin: 0;
}

.primary {
    animation: primary 12s linear infinite;
}
  
.secondary {
    animation: secondary 12s linear infinite;
}
  
@keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
}
  
@keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
}

.mainArt { /* Articulo cabecera */
    background: #CDEAE5;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.mainArt--img {
    width: 50%;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.mainArt__news { /* Seccion de noticias a elegir por el usuario */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainArt__news--btn { /* Posiciono botones */
    display: flex;
    justify-content: center;
    height: 75px;
}

.mainArt__news--btn button { /* Estilo a los botones */
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0;
}

.links { /* Articulos a noticias */
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.links li {
    padding: 10px;
    font-size: 19px;
}

.links li a {
    text-decoration: none;
    color: #3f3f3f;
}

.articulos { /* Seccion de articulos recientes */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: #dadada;
    overflow: hidden;
}

.articulos__1, .articulos__2 { /* Dimensiono articulos recientes */
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.subscribe { /* Contenedor padre de la suscripcion */
    background: #77b7df;
    width: 30%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.subscribe h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 10px;
    text-shadow:  2px -2px 2px #2b5e7e;
}

.subscribe ul {
    padding-left: 20px;
    margin-bottom: 0;
    list-style-type: square;
}

.subscribe ul li, .firma p {
    margin: 10px;
    font-weight: 700;
}

.check { /* Btn suscribirse y Captcha */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check input:nth-child(1) { /* Primer hijo de check */
    width: 80%;
    margin: 20px;
    background: #86c8f1;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.check input:nth-child(2) { /* Segundo hijo de check */
    width: 100%;
    margin: 10px 0;
    background: #86c8f1;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.styleH2 {
    padding: 5px;
    font-size: 32px;
    text-decoration: none;
    color: #555555;
}

.analysisHome { /* Dimensiono donde estaran los articulos de Analysis en Home */
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.analysis__cont {   /* Ajusto % del main para que entren las 4 noticias */
    width: calc(100%/4);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.fyc { /* firma y contacto */
    height: 55px;
    display: flex;
    justify-content: space-evenly;
}

.firma{
    width: 20%;
    display: flex;
    align-items: center;
}

.contactos, .contactos__ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.contactos__ul li {
    list-style-type: none;
}

.contactos li a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 4px 2px  #424242;
}

.RRSS {
    display: flex;
    justify-content: space-evenly;
}

.RRSS a i {
    font-size: 30px;
    padding: 4px 6px;
    color: #1b199b;
}

hr {    /* parte footer */
    width: 95%;
    height: 3px;
    margin: 5px auto;
    background: #000000;
}

.hr--width {    /* parte titles */
    width: 99%;
}

.copy {
    text-align: center;
    font-weight: 900;
}

/* Estilo a "News" */

.title { /* Estilo a h1 */
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.news__arts { /* Seccion de articulos */
    padding: 0 5px;
    display: flex;
    flex-flow: row wrap;
}

.news__arts > article { /* Cada articulo */
    width: calc(100%/4);
    padding: 10px;
    background-color: #e0e1e3;
    box-shadow: 0 0 8px 6px #faf9f9;
}

.boton { /* Caja "Load More" */
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.boton hr {
    width: 40%;
}

.boton > button {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.events__arts { /* eventos de la semana */
    padding: 10px 5px;
}

/* Estilo a "Crypto Projects" */

.title__h2 {
    font-size: 34px;
    padding-left: 25px;
}

/* Estilo a "Analysis" */

.profile {
    display: flex;
}

.carousel-inner { /* Comienzo a dar estilo al carousel */
    padding: 1em;
}

.cards-wrapper {
    display: flex;
  }

.card { /* Estilo a cada card */
    width: calc(100%/4);
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
    background-color: #e0e1e3;
    box-shadow: 2px 6px 8px 0 #c7bcbc;
  }

.card--shadow { /* Modifico sombra a card de CRYPTO PROJECTS */
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.cardPrices {
    width: initial;
    margin: 10px 2em;
    border: 2px solid #858282;
    border-radius: 4px;
}
  
.image-wrapper {
    height: 10vh;
    margin: 10px auto;
  }

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }

.carousel-control-prev, .carousel-control-next { /* Estilo a flechas */
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

.carousel-control-prev span, .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }

.parrafoCPA { /* Estilo a p de secciones C.P. y A. */
    text-align: justify;
    padding: 0;
    margin-bottom: 5px;
  }

/* Estilo a "Prices */

.calculadora {
    display: flex;
    margin: 10px;
}

.calculadora__token {
    width: 45%;
    padding-right: 5px;
    display: flex;
    flex-flow: column wrap;
}

.calculadora__token--height {
    border: 1px solid #000000;
    height: 175px;
}

.calculadora__token--height h3 {
    padding: 5px 15px;
}

.calculadora__chart {
    width: 55%;
    margin: auto;
    padding-left: 5px;
}

.btnCalculator {
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
}

.btnCalculator button {
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    background-color: #f5f7fa;
    border-color: #6e6e6e;
}

.pricesBlockArriba {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #7a7a7a;
}

.pricesBlockArriba p {
    padding: 0 10px;
    font-size: 20px;
}

.pricesBlockAbajo__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricesBlockAbajo__btn button {
    margin: 10px;
    height: 50px;
    width: 250px;
}

.imgsize--block {
    width: 35px;
    height: 25px;
}



/* APLICANDO MEDIA QUERIES */

@media screen and (max-width: 768px){   /* MODELO TABLET */

    body {
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header header"
            "...... main main main ......"
            "footer footer footer footer footer";
    }

    /* HOME */
    .menunav, .header__bar__der {
        flex-direction: column;
    }

    .active { /* Habilito Home p/ tablet y menores */
        display: block;
    }

    .ticker, .imgHome { /* Inhabilito ticker e imagen de Home */
        display: none;
    }

    .mainArt {
        flex-direction: column;
        align-content: space-around;
    }

    .mainArt__news, .calculadora__token {
        width: 100%;
    }

    .mainArt__news--btn{
        height: 100%;
    }

    .articulos{
        height: auto;
        flex-direction: row;
    }

    .articulos__1{
        width: 50%;
    }

    .articulos__2 {
        display: none;
    }

    .subscribe{
        width: 50%;
        height: auto;
        justify-content: space-around;
    }

    .subscribe > ul {
        display: none;
    }

    .analysis__cont{
        width: calc(100%/2);
    }

    .contactos__ul li a {
        font-size: 16px;
    }

    /* NEWS */
    
    .events__arts{
        overflow: hidden;
    }

    .news__arts > article, .events__arts > article {
        width: 50%;
    }

    .events__arts > article:nth-child(3) { /* El tercer articulo que no se muestre */
        display: none;
    }

    /* CRYPTO PROJECTS */
    .noticias > article {
        width: 49%;
    }

    .card {
        width: 100%;
    }

    .card:nth-child(3), .card:nth-child(4){
        display: none;        
      }

    .carousel-control-prev, .carousel-control-next{
          width: 4.5vh;
          height: 4.5vh;  
      }

    /* ANALYSIS */
    .analisis {
        flex-flow: row wrap;
    }

    .analisis > article {
        width: 49%;
        margin: 10px auto;
    }

    /* PRICES */

    .calculadora {
        flex-flow: column wrap;
    }

    .calculadora__chart{
        width: 100%;
        margin: 5px auto;
    }

    .cardPrices{
        width: initial;
    }
    .pricesBlock {
        width: 45%;
    }

    .pricesBlock__Up__btn button {
        width: 140px;
    }
}

@media screen and (max-width: 480px) {  /* MODELO MOBILE */

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header header"
            "main   main   main   main  main"
            "footer footer footer footer footer";
    }

    /* HOME */
    .ticker {
        display: none;
    }

    .nav > ul{
        height: 60px;
        flex-flow: row wrap;
    }

    .mainArt--img{
        display: none;
    }

    .mainArt__news--btn button {
        width: 50%;
    }

    .links li {
        font-size: 16px;
    }

    .articulos{
        flex-direction: column;
    }

    .articulos__1, .articulos__2, .subscribe ul {
        width: 100%;
        display: block;
    }

    .subscribe, .events__arts > article, .noticias > article{
        width: 100%;
    }

    .check {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .check > input {
        width: auto;
        padding: 10px 20px;
    }

    .analysis__cont{
        width: 100%;
    }

    .fyc{
        height: 80px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .firma {
        height: 55px;
    }

    .contactos {
        width: 90%;
        height: 100%;
    }

    .contactos__ul {
        height: 100%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    /* NEWS */
    .news__arts > article {
        width: 100%;
    }

    .boton hr{
        width: 35%;
    }

    .events__arts > article:nth-child(3) {
        display: block;
    }

    .card:not(:first-child){
        display: none;
    }

    .card {
        width: 90%;
        margin: 10px auto;
    }

    .carousel-control-prev, .carousel-control-next{
      width: 3.5vh;
      height: 3.5vh;  
    }

    /* CRYPTO PROJECTS */
    .noticias {
        flex-direction: column;
    }

    /* ANALYSIS */
    .analisis{
        flex-flow: column wrap;
    }

    .analisis > article {
        width: 100%;
    }

    /* PRICES */
    
    .calculadora__token, .calculadora__token--height{
        height: auto;
    }

    .btnCalculator {
        flex-flow: column wrap;
        align-items: center;
    }
    .btnCalculator button {
        width: 80%;
        margin: 10px auto;
    }

    .pricesBlock {
        width: 90%;
    }

    .pricesBlock__Up__btn button {
        width: 260px;
    }
}