// Variables en sass
$bgcd: repeat(5, 1fr);
$bgrd: auto 1fr auto;
$bgad: "header header header header header" "...... main   main   main   ......" "footer footer footer footer footer";
$Himg: 100%;
$Wimg: 100%;
$ahover: underline;
$h2deco: none;
$h2size: 32px;
$bgfooter:  #1F2933;
$bgct: 1fr repeat(3, 2fr) 1fr;
$bgrt: auto 1fr auto;
$bgat: "header header header header header" "...... main main main ......" "footer footer footer footer footer";
$bgcm: repeat(5, 1fr);
$bgrm: auto 1fr auto;
$bgam: "header header header header header" "main   main   main   main  main" "footer footer footer footer footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Propiedades no exceden su caja */
}

body {
    display: grid;
    grid-template-columns: $bgcd;
    grid-template-rows: $bgrd;
    grid-template-areas: $bgad;

    header {
        grid-area: header;

        .navFondo { /* Cambio color por defecto al nav y ajusto medidas */
            background-color: #EBF0F2;
            padding: 0;

            a {
                font-weight: bold;  
            }

            .distribucion {
                justify-content: space-between;

                .menunav{
                    display: flex;
                    flex-direction: row;

                    .margen0{
                        margin-right: 20px !important;

                        li {
                            .active {
                                display: none;
                            }

                            > a:hover {
                                background-color: #36474f;
                                color: #ffffff;
                            }
                        }
                    }

                    form {
                        .btnBuscador {
                            border-color: #555555;

                            > i {
                                color: #36474f;
                            }

                            > i:hover {
                                color: #ffffff;
                            }
                        }

                        .btnBuscador:hover {
                            background-color: #36474f;
                            border-color: #36474f;
                        }
                    }
                }

                div {
                    .imgHome{
                        height: 55px;
                    }
                }

                .header__bar__der {
                    font-size: 30px;
                    padding: 10px;

                    > i {
                        font-size: 30px;
                        padding: 10px;
                    }
                }
            }
        }

        .ticker {
            display: flex;
            align-items: center;
            height: 40px;
            width: 100vw;
            overflow: hidden;
            background-color: #f9f9f9a3;

            .scroll-parent {
                position: relative;
                width: 100vw;
                height: 100%;
                overflow-x: hidden;

                .scroll-element {
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .scroll-element--cont{
                        width: 15%;
                        padding: 3px;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        .imgsize--block{
                            width: 35px;
                            height: 25px;
                        }

                        > p {
                            font-weight: 700;
                            margin: 0;
                        }
                    }
                }
                
                .primary {
                    animation: primary 12s linear infinite;
                }

                .secondary{
                    animation: secondary 12s linear infinite; 
                }

                @keyframes primary {
                    from {
                      left: 0%;
                    }
                    to {
                      left: -100%;
                    }
                }
                  
                @keyframes secondary {
                    from {
                      left: 100%;
                    }
                    to {
                      left: 0%;
                    }
                }
            }
        }
    }

    main { 
        grid-area: main;

        .mainArt{
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-content: center;

            .mainArt--img{
                width: 50%;
                margin: auto;
                padding: 0 10px;
                overflow: hidden;

                .imgsize{
                    max-height: $Himg;
                    max-width: $Wimg;
                }
            }
            .mainArt__news{ /* Seccion de noticias a elegir por el usuario */
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .mainArt__news--btn{
                    display: flex;
                    justify-content: center;
                    height: 75px;

                    > button {
                        padding: 5px;
                        margin: 10px 0;
                        font-size: 20px;
                        font-weight: bold;
                        background-color: #ffffff;
                        border-radius: 6px;
                        border-color:rgb(181, 200, 211);
                        color: #111111;
                    }

                    > button:hover {
                        background-color: #64a7fd;
                        border-radius: 4px;
                        border-color:rgb(78, 139, 174);
                        color: #ffffff;
                    }
                }

                article{
                    .links { /* Articulos a noticias */
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;

                        > li {
                            padding: 10px;
                            font-size: 19px;

                            > a {
                                text-decoration: none;
                                color: #3f3f3f;
                            }

                            > a:hover {
                                text-decoration: $ahover;
                            }
                        }
                    }
                }
            }
        }

        .articulos{
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            overflow: hidden;

            .articulos__1, .articulos__2{
                width: 34%;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;

                .imgsize{
                    max-height: $Himg;
                    max-width: $Wimg;
                }

                .sub {
                    > a {
                        text-decoration: none;
                        color: #111111;
                    }

                    > a:hover {
                        text-decoration: $ahover;
                    }
                }
            }
            .subscribe{
                margin-left: 2px;
                background: #77b7df;
                width: 30%;
                height: 100%;
                border-radius: 3px;
                overflow: hidden;
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                > h2 {
                    font-size: 30px;
                    font-weight: 900;
                    margin: 10px;
                    text-shadow:  2px -2px 2px #2b5e7e;
                }

                ul {
                    padding-left: 20px;
                    margin-bottom: 0;
                    list-style-type: square;

                    li {
                        margin: 10px;
                        font-weight: 700;
                    }
                }

                .check{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    > input:nth-child(1) { /* Primer hijo de check */
                        width: 80%;
                        margin: 20px;
                        background: #86c8f1;
                        color: white;
                        font-weight: bold;
                        font-size: 20px;
                        border-radius: 5px;
                    }

                    > input:nth-child(2) { /* Segundo hijo de check */
                        width: 100%;
                        margin: 10px 0;
                        background: #86c8f1;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
            }

            .parrafo{
                text-align: justify;
                padding: 8px;
                margin-bottom: 0;
            }
        }

        section{
            .styleH2{
                padding: 5px;
                font-size: $h2size;
                text-decoration: $h2deco;
                color: #555555;
            }

            .analysisHome{ /* Dimensiono donde estaran los articulos de Analysis en Home */
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: row wrap;

                .analysis__cont { /* Ajusto % del main para que entren las 3 noticias */
                    width: calc(100%/3);
                    display: flex;
                    flex-flow: column wrap;
                    overflow: hidden;

                    .imgsize{
                        max-height: $Himg;
                        max-width: $Wimg;
                    }

                    .parrafo {
                        text-align: justify;
                        padding: 8px;
                        margin-bottom: 0;
                    }

                    .sub {
                        > a {
                            text-decoration: none;
                            color: #111111;
                        }
    
                        > a:hover {
                            text-decoration: $ahover;
                        }
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        background-color: $bgfooter;

        section {
            .fyc { /* firma y contacto */
                height: 55px;
                display: flex;
                justify-content: space-evenly;

                .firma{
                    width: 20%;
                    display: flex;
                    align-items: center;

                    .imgsize{
                        max-height: $Himg;
                        max-width: $Wimg;
                    }

                    > p {
                        margin: 10px;
                        font-weight: 700;
                        color: #7b8794;
                    }
                }
                .contactos, .contactos__ul {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;

                    li {
                        list-style-type: none;

                        > a {
                            text-decoration: none;
                            color: #9aa5b1;
                            font-weight: 800;
                            font-size: 20px;
                            margin: 5px;
                            padding: 5px;
                        }

                        > a:hover {
                            color: #ffffff;
                        }
                    }
                }
            }

            .RRSS {
                display: flex;
                justify-content: space-evenly;

                > a {
                    > i {
                        font-size: 30px;
                        padding: 4px 6px;
                        color: #9aa5b1; 
                    }

                    > i:hover {
                        opacity: .75;
                    }
                }
            }
        }

        hr {
            width: 95%;
            height: 3px;
            margin: 5px auto;
            background: #9aa5b1;
        }

        .copy{
            text-align: center;
            font-weight: 900;

            > p {
                color: #9aa5b1;
            }
        }
    }
}

/* APLICANDO MEDIA QUERIES */
@media screen and (max-width: 768px){   /* MODELO TABLET */
    body {
        display: grid;
        grid-template-columns: $bgct;
        grid-template-rows: $bgrt;
        grid-template-areas: $bgat;

        header {

            .navFondo {

                .distribucion {

                    .menunav, .header__bar__der {
                        flex-direction: column;
                    }

                    .imgHome{
                        display: none;
                    }

                    .menunav { 

                        .margen0{

                            li {
                                .active {
                                    display: block;
                                }
                            }
                        }   
                    }
                }
            }

            .ticker {
                display: none;
            }
        }

        main {
    
            .mainArt {
                flex-direction: column;
                align-content: space-around;

                .mainArt__news {
                    width: 100%;
    
                    .mainArt__news--btn {
                        height: 100%;
                    }
                }
            }

    
            .articulos{
                height: auto;
                flex-direction: row;
    
                .articulos__1{
                    width: 49%;
                }
                
                .articulos__2{
                    display: none;
                }

                .subscribe{
                    width: 50%;
                    height: auto;
                    justify-content: space-around;
    
                    ul {
                        display: none;
                    }
                }
            }
        }

        footer {
            grid-area: footer;
            background-color: $bgfooter;
    
            section {
                .fyc {
                    
                    .contactos{

                        .contactos__ul {
        
                            li {
        
                                > a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {  /* MODELO MOBILE */

    body {
        display: grid;
        grid-template-columns: $bgcm;
        grid-template-rows: $bgrm;
        grid-template-areas: $bgam;

        header {
    
            .ticker {
                display: none;
            }
        }

        main { 
    
            .mainArt{
    
                .mainArt--img{
                    display: none;
                }
                .mainArt__news{
    
                    .mainArt__news--btn{
    
                        > button {
                            width: 50%;
                        }
                    }
    
                    article{
                        .links {
    
                            > li {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
    
            .articulos{
                flex-direction: column;
    
                .articulos__1, .articulos__2{
                    width: 100%;
                    display: block;
                }

                .subscribe{
                    width: 100%;
    
                    ul {
                        width: 100%;
                        display: block;
                    }
    
                    .check{
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-around;
    
                        > input {
                            width: auto;
                            padding: 10px 20px;
                        }
                    }
                }
            }
    
            section{
    
                .analysisHome{
    
                    .analysis__cont {
                        width: 100%;
                    }
                }
            }
        }

        footer {
            grid-area: footer;
            background-color: $bgfooter;
    
            section {
                .fyc {
                    height: 80px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
    
                    .firma{
                        height: 55px;
                    }

                    .contactos {
                        width: 90%;
                        height: 100%;

                        .contactos__ul {
                            height: 100%;
                            flex-flow: row wrap;
                            justify-content: center;
                            align-items: center;
                        }
    
                    }
                }
    
            }
        }
    }
}