@media screen and (max-width: 768px){   /* MODELO TABLET */
    body {
        display: $dg;
        grid-template-columns: map-get($grid-tablet, columna);
        grid-template-rows: map-get($grid-tablet, fila);
        grid-template-areas: map-get($grid-tablet, area);

        header {

            .navFondo {

                .container-fluid {

                    img {
                        height: 50px;
                    }

                    .distribucion {

                        .header__bar__der {
                            flex-direction: row;

                            .form-switch {
                                padding-left: 0;
                            }
                        }
    
                        .menunav { 
                            flex-direction: column;

                            .margen0{
    
                                li {
                                    .active {
                                        display: block;
                                    }
                                }
                            }   
                        }
                    }
                }
            }

            .ticker {
                display: none;
            }
        }
        main{
                .mainArt {
                    flex-direction: column;
                    align-content: space-around;

                    .mainArt__news {
                        width: 100%;
        
                        .mainArt__news__btn {
                            height: 100%;
                        }
                    }
                }

                .articulos{
                    height: auto;
                    flex-direction: row;
        
                    .articulos__1{
                        width: 49%;
                    }
                    
                    .articulos__2{
                        display: none;
                    }

                    .subscribe{
                        width: 50%;
                        height: auto;
                        justify-content: space-around;
        
                        ul {
                            display: none;
                        }
                    }
                }

                .news__arts {

                    > article {
                        width: 50%;
                    }
                }

                .card:nth-child(3){
                    display: none;
                }
            }

        main {

            section {

                article{

                    .carousel{

                        .carousel-inner{

                            .carousel-item{

                                .cards-wrapper{

                                    .card {
                                        width: 50%;

                                        .image-wrapper{
                                            height: 12vh;
                                        }
                                    }
                        
                                    .card:nth-child(3){
                                        display: none;
                                    }
                                }
                            }
                        }

                        .carousel-control-prev {
                            width: 4.5vh;
                            height: 4.5vh;
                        }
            
                        .carousel-control-next {
                            width: 4.5vh;
                            height: 4.5vh;
                        }
                    }
                }
            }
        }

        main {
            
            section {

                article {

                    .calculadora {
                        flex-flow: column wrap;

                        .calculadora__token {
                            width: 100%;
                        }
        
                        .calculadora__chart {
                            width: 100%;
                            margin: 5px auto;
                        }
                    }
                }

                article {
                    
                    div {

                        div {

                            .cardPrices {
                                margin: 5px auto;
                                width: 100%;
        
                                .card-body {
        
                                    .pricesBlockAbajo__btn {
                
                                        button {
                                            width: 160px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

            footer {
                grid-area: footer;
                background-color: $bgfooter;
        
                section {

                    .fyc {
                        height: auto;

                        .firma {

                            .imgsize {
                                height: 70px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }

                        .contactos{
                            flex-flow: row wrap;

                            .contactos__ul {
                                flex-flow: row wrap;

                                li {
                                    margin: 5px;

                                    > a {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }

                    .RRSS {
                        margin: 15px auto;
                    }
                }
        }
    }
}

@media screen and (max-width: 480px) {  /* MODELO MOBILE */

    body {
        display: $dg;
        grid-template-columns: map-get($grid-mobile, columna);
        grid-template-rows: map-get($grid-mobile, fila);
        grid-template-areas: map-get($grid-mobile, area);

        header {
    
            .ticker {
                display: none;
            }
        }

        main { 
    
            .mainArt{
    
                .mainArt__img{
                    display: none;
                }

                .mainArt__news{
    
                    .mainArt__news__btn{
    
                        > button {
                            width: 50%;
                        }
                    }
    
                    article{
                        .links {
    
                            > li {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
    
            .articulos{
                flex-direction: column;
    
                .articulos__1, .articulos__2{
                    width: 100%;
                    display: block;
                }

                .subscribe{
                    width: 100%;
    
                    ul {
                        width: 100%;
                        display: block;
                    }
    
                    .check{
                        width: 100%;
                        display: $df;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-around;
    
                        > input {
                            width: auto;
                            padding: 10px 20px;
                        }
                    }
                }
            }
    
            section{
    
                .analysisHome{
    
                    .analysis__cont {
                        width: 100%;
                    }
                }

                .boton {
                    
                    hr{
                        width: 35%;
                    }
                }

                .events__arts {
                    .card{
                        width: 90%;
                        margin: 10px auto;
                    }
                }
            }

            .news__arts {

                > article {
                    width: 100%;
                }
            }
            
            .card:not(:first-child){
                display: none;
            }
        }

        main {

            section {

                article{

                    .carousel{

                        .carousel-inner{

                            .carousel-item{

                                .cards-wrapper{

                                    .card {
                                        width: 90%;
                                        margin: 10px auto;

                                        .image-wrapper{
                                            height: 12vh;
                                        }
                                    }
                                }
                            }
                        }

                        .carousel-control-prev {
                            width: 3.5vh;
                            height: 3.5vh;
                            left: 2%;
                        }
            
                        .carousel-control-next {
                            width: 3.5vh;
                            height: 3.5vh;
                            left: 90%;
                        }
                    }
                }
            }
        }

        main {
            
            section{

                article{

                    .row {
                        margin: 0;

                        div {

                            .cardPrices{
                                width: 90%;
                                margin: 10px auto;
        
                                .card-body {
                            
                                    .pricesBlockAbajo__btn {
                
                                        button {
                                            width: 260px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        footer {
            grid-area: footer;
            background-color: $bgfooter;
    
            section {

                .fyc {
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .firma{
                        width: 100%;
                        margin: 5px auto;
                        justify-content: space-evenly;
                    }

                    .contactos {
                        width: 100%;

                        .contactos__ul {
                            padding-left: 0;
                            flex-flow: row wrap;
                            justify-content: center;
                            align-items: center;
                        }
    
                    }
                }
    
            }
        }
    }
}